/***************
  GLOBAL CODES
***************/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


html{
  font-size: 62.5%;

}

ul {
  list-style: none;
}

h3{
  justify-self: center;
  align-self: end;
  grid-area:  1/2 ;
}

body {
  background: #faf6ed;
  color: #222;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: 300px 1fr;
  min-width: 90rem; 
  min-height: 100vh;
}
/*******************
START MAIN CONTENT
*******************/

header{
  display: grid;
  place-items: center;
  background-color: rgb(51, 51, 71);
  grid-area: 1/1;
}

nav{
  width: 100%;
  height: 80%;
}

nav ul {
  display: grid;
  place-items: center;
  gap: 1rem;
}

nav li{
  border: solid #7d7d7d;
  width: 100%;
  color: #fff;
  background-color: rgb(97, 97, 112);
  text-align: center;
}
* a{
  text-decoration: none;
  color: #fff;
}

* a:hover{
  color: #f8f8;
}

main{
  display: grid;
  grid-area: 1/2;
  place-items: center;

}


.main-container{
  display: grid;
  grid-template-columns: minmax(30rem, 120rem);
  place-content: center;
  gap: 2.4rem;
}

.Main-Title {
  display: grid;
  max-width: 100rem;
  place-content: center;
  grid-template-columns:200px 500px;
  
}

.Title-Container{  
  grid-area: 1/2;
  place-self: center;
}

.Title-container h1{
  font-size: 4rem;
}

.Main-Forms{
  margin-bottom:5rem;
}
form{
  display: grid;
  max-width: 100rem;
  place-content: center;
  gap: 2rem;
}

.form-inputs{
  display: grid;
}

.input-items{
  display: grid;
  grid-template-columns:200px 500px;
  margin-top: 1.5rem;

}

.input-items label{
  white-space: nowrap;
}

.input-items input{
  place-items: start;
  width: 100%;
  
}

.input-items small {
  place-self: end;
  grid-area:1/2;
}


#rg-label, #cpf-label{
  grid-area: 2/1;
}

.rg, .cpf{
  margin-top: .5rem;
}

.input-items .txtCPF, .input-items .txtRG{
  width: 100%;
  grid-area:2/2;
}

.txtDataNCT{
  width: 20rem;
}

.button{
  display: grid;
  grid-template-columns: 200px 500px;
  grid-template-rows: 1fr 1fr;
  place-items: center;
}

.matricular{
  grid-area: 1/2;
  width: 50%;
}

.desmarcar{
  margin-top: 2rem;
  grid-area: 2/2;
}


